$delay: 0.7s ease !global;
$iconColor: azure !global;

.welcomeGuide {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: whitesmoke;
  width: 80%;
}

#spinnerIcon {
  position: absolute;
  left: 50%;
  bottom: 70px;
  color: $iconColor;
  transform: translateX(-50%);
}

#moreIcon {
  position: absolute;
  right: 30px;
  bottom: 30px;
  color: $iconColor;
}

#arrowLeft {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

#arrowRight {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}