$delay: 0.7s ease !global;
$iconColor: azure !global;

.App {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-image: url('/wallpaper.jpg');
  background-repeat: repeat;
  overflow-x: hidden;
  overflow-y: hidden;
}

.viewingRoom {
  width: 100%;
  height: 100%;
  transition: $delay;
  z-index: 0;
  display: flex;
  justify-content: center;
}

.detailScreen {
  max-width: 520px;
  transition: $delay;
  z-index: 100;
}

#moreIcon {
  position: absolute;
  right: 30px;
  bottom: 30px;
  color: $iconColor;
}

#closeIcon {
  position: absolute;
  right: 30px;
  top: 30px;
  color: $iconColor;
  transition: $delay;
}

#backIcon {
  position: absolute;
  left: 10px;
  top: 10px;
  color: $iconColor;
  z-index: 99;
}


#arrowLeft {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 99;
}

#arrowRight {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 99;
}