$delay: 0.7s ease !global;
$iconColor: azure !global;

.listRoot {
  width: 100%;
  min-height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;

  .stickyBar {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100px;
    z-index: 1000;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);

    background-color: rgba($color: #313131, $alpha: 0.3);

    @media (max-width: 600px) {
      height: 70px;
    }
  }
}

.listHeader {
  position: absolute;
  width: 100%;
  height: 100px;
}

.fixed {
  position: fixed !important;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#paitingNumber {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%, 0);
  color: $iconColor;

  @media (max-width: 700px) {
    top: 20px;
  }
}

#onSaleText {
  font-size: medium;
  margin-left: 20px;
}

.listContainer {
  width: 100%;
  max-width: 1700px;
  padding: 100px 50px;

  @media (max-width: 700px) {
    padding: 50px 0px;
  }
}

.iconContainer {
  display: flex;
  flex-direction: column;
  
  .iconTitle {
    font-size: 13px;
    text-align: center;
  }
}

.badgeContainer {
  position: relative;

  svg {
    position: absolute;
    right: -5px;
    top: -30px;
    color: rgba($color: #cc1717, $alpha: 0.9);

    circle {
      @media (max-width: 700px) {
        r: 8px;
      }
    }
  }
}

#sortIcon {
  position: absolute;
  right: 80px;
  top: 5px;
  color: $iconColor;
  z-index: 99;

  @media (max-width: 700px) {
    right: 40px;
    top: 0;
  }
}

#filterIcon {
  position: absolute;
  right: 15px;
  top: 5px;
  color: $iconColor;
  z-index: 99;

  @media (max-width: 700px) {
    right: 5px;
    top: 0;
  }
}

// #sortBadge {
//   position: absolute;
//   right: 85px;
//   top: 16px;
//   color: #aa0000;
// }

// #filterBadge {
//   position: absolute;
//   right: 20px;
//   top: 16px;
//   color: #aa0000;
// }

#sort-menu {
  #switchContainer {
    border: none !important;
    min-width: 200px;
    margin: 10px 20px;
  }
}

#filter-menu {
  #sliderContainer {
    border: none !important;
    min-width: 200px;
    margin: 10px 20px;
  }
}
  
#divider {
  border-top: 1px solid #888;
  margin: 0 10px;
}

span.PrivateValueLabel-label-5 {
  font-size: 13px !important;
}

#applyButtonItem {
  margin: 20px;
}