$borderRadius: 20px !global;
$breakPoint: 700px !global;

.historyApp {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  #backIcon {
    @media (min-width: 1130px) {
      position: fixed !important;
    }
  }
}

.historyContainer {
  width: calc(min(960px, 90%));
  position: relative;
  padding-top: 100px;

  @media (max-width: $breakPoint) {
    padding-top: 30px;
  }

  .introduction {
    margin-bottom: 100px;
    z-index: 5;
    width: 100%;
    min-height: fit-content;
    box-shadow: 0 19px 38px rgba(0,0,0,0.80), 0 15px 12px rgba(0,0,0,0.66);
    background: #fff;
    border-radius: $borderRadius;
    filter: brightness(0.9);

    .paddingBox {
      padding: 35px;
    }

    .title {
      margin-bottom: 30px;
    }

    .artistName {
      margin-top: 30px;
      font-weight: bolder;
    }

    p {
      font-size: 1.3rem;
      line-height: 2.5rem;

      @media (max-width: $breakPoint) {
        font-size: 1rem;
        line-height: 1.6rem;
      }
    }

    @media (max-width: $breakPoint) {
      margin-top: 50px;
    }
  }
}