$borderRadius: 20px !global;
$breakPoint: 700px !global;

.historyApp {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  #backIcon {
    @media (min-width: 1130px) {
      position: fixed !important;
    }
  }
}

.historyContainer {
  width: calc(min(960px, 90%));
  position: relative;
  padding: 100px 0;

  @media (max-width: $breakPoint) {
    padding-top: 30px;
    margin-top: 50px;
  }

  .paper {
    box-shadow: 0 19px 38px rgba(0,0,0,0.80), 0 15px 12px rgba(0,0,0,0.66);
    background: #fff;
    border-radius: $borderRadius;
    z-index: 5;
    width: 100%;
    min-height: fit-content;
    filter: brightness(0.9);
    margin-bottom: 100px;
  }

  .title {
    margin-bottom: 30px;
  }

  .paddingBox {
    padding: 35px;
  }

  // p {
  //   font-size: 1.3rem;
  //   line-height: 2.5rem;

  //   @media (max-width: $breakPoint) {
  //     font-size: 1rem;
  //     line-height: 1.6rem;
  //   }
  // }
  
  p {
    font-size: 1rem;
    line-height: 2rem;
    text-indent: 15px;

    @media (max-width: $breakPoint) {
      font-size: 0.8rem;
      line-height: 1.3rem;
    }
  }

  .introduction {
    .artistName {
      margin-top: 30px;
      font-weight: bolder;
    }
  }

  .review {
    // padding-bottom: 20px;
    // transition: height 1s;
    // -webkit-transition: height 1s;
    // height: fit-content;
  
    // p {
    //   font-size: 1rem;
    //   line-height: 2rem;
  
    //   @media (max-width: $breakPoint) {
    //     font-size: 0.8rem;
    //     line-height: 1.3rem;
    //   }
    // }
  
    #seeMoreButton {
      float: right;
    }
  }

  .history {
    .semiTitle {
      font-size: 1.3rem;
    }

    ul {
      margin-top: 5px;
      list-style-type: none;

      li {
        line-height: 2rem;
      }
    }
  }
}