$paintingBrightness: 0.85 !global;

.listImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness($paintingBrightness);

  box-shadow: 1px 7px 10px 0px rgba(0, 0, 0, 1);

  &:hover {
    cursor: pointer;
  }
}

.singleLineListImage {
  display: block;
  margin: auto;
  box-shadow: 1px 7px 10px 0px rgba(0, 0, 0, 1);
  filter: brightness(0$paintingBrightness);

  &:hover {
    cursor: pointer;
  }
}

.infinite-scroll-component__outerdiv {
  width: 100%;

  .infinite-scroll-component  {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-around;
  }
}

.itemContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-around;
}

.imageBlock {
  box-sizing: border-box;
  position: relative;
}

// #endLoading {
//   background-color: rgba($color: #b9b8b8, $alpha: 1.0);
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   h3 {
//     text-align: center;
//   }
// }

#loadingIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}