.signatureRoot {
  width: 100%;
  min-height: 100%;
  height: fit-content;
  overflow-x: hidden;
  overflow-y: auto;

  .gridContainer {
    justify-content: space-around;
    flex-direction: column;

    .canvasContainter {
      margin: 0 auto;
      background-color: white;
      width: 500px;
      height: 200px;
  
      @media screen and (max-width: 600px) {
        width: 90vw;
        height: 36vw;
      }
      
      .sigCanvas {
        width: 100%;
        height: 100%;
      }
    }
  
    .controlArea {
      margin: 0 auto;
      width: 500px;
      height: 50px;
  
      @media screen and (max-width: 600px) {
        width: 90vw;
      }
  
      button#sigClear {
        float: left;
      }
  
      button#sigSubmit {
        float: right;
      }
    }
  
    .sigRes {
      background-color: white;
      width: 500px;
      height: 200px;
      margin: 0 auto;
  
      overflow-y: auto;
      overflow-x: auto;
  
      img {
        max-width: 100%;
        max-height: 100%;
      }
  
      @media screen and (max-width: 600px) {
        width: 90vw;
        height: 36vw;
      }
    }
  }
}

