.summaryApp {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.pagenator {
  width: 100%;
  height: 100%;

  #viewingroomDiv {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.7s ease;
  }
  
  .guide {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: rgba($color: #000000, $alpha: 0.75);
  
    :hover {
      cursor: pointer;
    }
  
    .guideBackground {
      width: 100%;
      height: 100%;
      background-image: url('/letters/ko/guide_desktop.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-blend-mode: soft-light;
  
      @media (max-width: 700px) {
        background-image: url('/letters/ko/guide_mobile.png');
      }

      &.english {
        background-image: url('/letters/en/guide_desktop.png');

        @media (max-width: 700px) {
          background-image: url('/letters/en/guide_mobile.png');
        }
      }
    }
  }
}

#arrowRightMobile {
  position: absolute;
  z-index: 1;
  color: rgba(250, 250, 250, 1);
  right: 10px;
  bottom: 10px;
  
  @media (min-width: 701px) {
    display: none;
  }
}

#progressBar {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  height: 5px;
  transition: .7s ease;
}