.aboutPaper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: fit-content;
  min-height: 600px;
  margin: 40px 0;

  @media screen and (max-width: 600px) and (orientation: portrait) {
    min-height: 620px;
  }

  .logoImage {
    margin-top: 30px;
    width: 40%;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .explanation {
    width: 80%;

    p {
      font-size: 1.3rem;
      line-height: 2;

      @media (max-width: 600px) {
        font-size: 1rem;
        line-height: 1.5;
      }
    }
  }

  .contactUs {
    #title {
      font-weight: bold;
      margin-bottom: 15px;
    }
  
    .info {
      display: flex;
  
      #section1 {
        width: 120px;
      }

      #section2 {
        a {
          text-decoration: none;
          color: inherit;

          button {
            font-size: 1rem;
            padding: 5px 10px;
            border: none;
            border-radius: 10px;
            background-color: rgba($color: #f3f3f3, $alpha: 1.0);

            &:hover {
              cursor: pointer;
              opacity: 0.7;
            }
          }
        }
      }
    }

    @media (max-width: 600px) {
      p {
        font-size: 0.9rem;
      }
    }
  }

  .subLogoImages {
    width: 40%;
    display: flex;
    margin-bottom: 15px;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    #subLogoImage1 {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10px;

      @media (max-width: 600px) {
        width: 80%;
        padding: 10px 10px;
      }

      img {
        display: flex;
        width: 100%;
        height: auto;
      }
    }

    #subLogoImage2 {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10px;

      @media (max-width: 600px) {
        width: 80%;
        padding: 10px 10px;
      }

      img {
        display: flex;
        width: 100%;
        height: auto;
      }
    }
  }
}