.listImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 1px 7px 10px 0px rgba(0, 0, 0, 1);

  &:hover {
    cursor: pointer;
  }
}

.itemContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-around;
}

.imageBlock {
  box-sizing: border-box;
  position: relative;
}