$delay: 0.7s ease !global;
$iconColor: azure !global;

.introApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;

  .mobile {
    top: 50%;
    max-height: 80%;
    max-width: 70%;
    transform: translate(-50%, -50%);
  }
  
  .desktop {
    top: 50%;
    max-height: 60%;
    max-width: calc(75% - 120px);
    transform: translate(-50%, -50%);
  }
}

.introLetters {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  max-height: 60%;
  max-width: 1000px;
  width: 100vw;
  height: fit-content;
  padding-top: calc(min(20%, 180px));

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .title {
    width: 45%;
  }

  .decorum {
    width: 90%;
  }

  @media screen and (max-width: 700px) and (orientation: portrait) {
    padding-top: 120px;
  }

  @media screen and (max-height: 700px) and (orientation: landscape) {
    padding-top: 30px;

    .title {
      width: 30%;
    }

    .decorum {
      width: 60%;
    }
  }
}

.footer {
  z-index: 10;
  position: absolute;
  bottom: 30px;
  width: 50%;
  height: fit-content;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .introGuide {
    width: 80%;
    height: fit-content;
    padding-bottom: 60px;
    text-align: center;

    opacity: 0.75;
  }

  .date {
    width: 100%;
    height: fit-content;
    text-align: center;
  }

  // .logo {
  //   width: 40%;
  //   height: fit-content;
  //   text-align: center;
  // }

  @media screen and (max-width: 500px) and (orientation: portrait) {
    .introGuide {
      padding-bottom: 100px;
    }
  }

  @media screen and (max-height: 500px) and (orientation: landscape) {
    bottom: 0;

    .introGuide {
      width: 50%;
      padding-bottom: 30px;
    }

    .date {
      width: 70%;
    }
  
    // .logo {
    //   width: 30%;
    //   height: 50px;
    // }

    .spacing {
      display: none;
    }
  }
}

#spinnerIcon {
  position: absolute;
  left: 50%;
  color: $iconColor;
  transform: translateX(-50%);
  height: 15%;
  bottom: 3%;

  @media (max-width: 700px) {
    height: 8%;
  }
}

.introImage {
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  z-index: 5;
  filter: brightness(0.5);

  box-shadow: 1px 7px 10px 0px rgba(0, 0, 0, 1);
}

.introLantern {
  position: absolute;
  height: 120%;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  opacity: 0.98;
  filter: brightness(0.5);
}