.cardRoot {
  height: fit-content;
  max-height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;

  @media screen and (max-height: 700px) and (orientation: landscape) {
    flex-direction: row;
    height: 250px;
  }

  .imgBackground {
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
  
    @media screen and (max-height: 700px) and (orientation: landscape) {
      width: 250px;
      height: 100%;
    }

    .cardImage {
      max-width: 100%;
      max-height: 100%;
      max-height: 350px;
      border-width: 1px;
      object-fit: contain;
  
      @media screen and (max-height: 700px) and (orientation: landscape) {
        width: 250px;
        height: 100%;
      }
    }
  }
}

.cardContent {
  display: flex;
  width: 100%;
  min-height: 200px;

  flex-direction: column;
  justify-content: space-between;
  
  @media screen and (max-height: 700px) and (orientation: landscape) {
    width: 280px;
  }
}

#price {
  margin-top: 5px;
}

#soldOutIcon {
  color: #ee0000;
  margin-left: 10px;
  margin-bottom: 9px;
}

.buttonLink {
  color: inherit;
  text-decoration: inherit;
}